/* .profile-container {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 50%; */
    /* margin-top: 20%; */
  /* } */
  
  .custom-heading {
    font-variant-position: normal;
    color: #007bff; /* Bootstrap primary color */
  }
  
  .custom-label {
    font-weight: bold;
    color: #333; /* Custom label color */
  }
  
  .custom-input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .custom-error {
    color: rgb(25, 0, 255);
    font-size: 12px;
  }
  
  .custom-button {
    margin-right: 55px;

  }

  .profile-name{
    margin-top: 11%;
  }

  .profile-image{
    margin-top: 3%;
  }

  .profile-details{
    /* margin-left: 49%; */
    margin-top: 2%;
  }

  .edit-profile{
    margin-top: 40px;
    margin-left: 400px;
  }


  