

/* Custom styles for MyVehicle component */
/* .container {
    padding: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .vehicle-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .btn-full-width {
    width: 100%;
  }   */