/* .register-container{
max-width: 600px;
} */


/* .container{
  max-width: 450px;
} */
.register-container {
  width: 7000px;
  background-color: #fff;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.register-container h2 {
  margin-bottom: 20px;
}

.register-container form {
  margin-top: 20px;
}

/* .register-container .alert {
  margin-bottom: 20px;
} */