.navbar-container {

    padding: 0; /* Remove padding */
  
    margin-left: 4%;
  }

  .navbar-title{
    margin-left:3% ;
  }

  .mr-auto{
    margin-left :45% ;
  }

  /* .ml-auto:hover{
    background-color: yellow;
  } */

  