.navbar-container {

    padding: 0; /* Remove padding */
    max-width: px;
    margin-left: 4%;
  }

  .navbar-title{
    margin-left:5% ;
  }

  .ml-auto{
    margin-left :65% ;
  }

  /* .ml-auto:hover{
    background-color: yellow;
  } */

  